Repository CodeStrong2023/DevGroup_TercerSem_2024, pull requests merged in 2024-04, with the labels that each got.

#3 archivos de los videos 4-7
  Java/Leccion01/ar/com/system2023/mundopc/Computadora.java
  Java/Leccion01/ar/com/system2023/mundopc/Monitor.java
  Java/Leccion01/ar/com/system2023/mundopc/Orden.java
Labels: java

#26 Carpeta javascript clase 1 - ciclos
  Javascript/Leccion01/01-03-ciclos.js
Labels: Javascript

#32 Cierre de semana 2
  .gitignore
  Java/Leccion02/ArgumentosVariables/build.xml
  Java/Leccion02/ArgumentosVariables/manifest.mf
  Java/Leccion02/ArgumentosVariables/nbproject/build-impl.xml
  Java/Leccion02/ArgumentosVariables/nbproject/genfiles.properties
  Java/Leccion02/ArgumentosVariables/nbproject/private/private.properties
  Java/Leccion02/ArgumentosVariables/nbproject/private/private.xml
  Java/Leccion02/ArgumentosVariables/nbproject/project.properties
  Java/Leccion02/ArgumentosVariables/nbproject/project.xml
  Java/Leccion02/ArgumentosVariables/src/test/TestArgumentosVariables.java
  Java/Leccion02/BloquesInicializacion/build.xml
  Java/Leccion02/BloquesInicializacion/manifest.mf
  Java/Leccion02/BloquesInicializacion/nbproject/build-impl.xml
  Java/Leccion02/BloquesInicializacion/nbproject/genfiles.properties
  Java/Leccion02/BloquesInicializacion/nbproject/private/private.properties
  Java/Leccion02/BloquesInicializacion/nbproject/private/private.xml
  Java/Leccion02/BloquesInicializacion/nbproject/project.properties
  Java/Leccion02/BloquesInicializacion/nbproject/project.xml
  Java/Leccion02/BloquesInicializacion/src/domain/Persona.java
  Java/Leccion02/BloquesInicializacion/src/test/TestBloqueInicializacion.java
  Java/Leccion02/Enumeraciones/build.xml
  Java/Leccion02/Enumeraciones/manifest.mf
  Java/Leccion02/Enumeraciones/nbproject/build-impl.xml
  Java/Leccion02/Enumeraciones/nbproject/genfiles.properties
  Java/Leccion02/Enumeraciones/nbproject/private/private.properties
  Java/Leccion02/Enumeraciones/nbproject/private/private.xml
  Java/Leccion02/Enumeraciones/nbproject/project.properties
  Java/Leccion02/Enumeraciones/nbproject/project.xml
  Java/Leccion02/Enumeraciones/src/enumeraciones/Continentes.java
  Java/Leccion02/Enumeraciones/src/enumeraciones/Dias.java
  Java/Leccion02/Enumeraciones/src/test/TestEnumeraciones.java
  Javascript/Leccion01/01-03-ciclos.js
  Python/Leccion01/Color.py
  Python/Leccion01/Cuadrado.py
  Python/Leccion01/FiguraGeometrica.py
  Python/Leccion01/Rectangulo.py
  Python/Leccion01/__pycache__/Color.cpython-311.pyc
  Python/Leccion01/__pycache__/Cuadrado.cpython-311.pyc
  Python/Leccion01/__pycache__/FiguraGeometrica.cpython-311.pyc
  Python/Leccion01/__pycache__/Rectangulo.cpython-311.pyc
  Python/Leccion01/herenciaMultiple.uxf
  Python/Leccion01/test_figura_geometrica.py
  README.md
Labels: java, Javascript, Python

#37 agregar clase rectangulo en test_figura_geometrica python leccion1
  Python/Leccion01/__pycache__/Color.cpython-312.pyc
  Python/Leccion01/__pycache__/Cuadrado.cpython-312.pyc
  Python/Leccion01/__pycache__/FiguraGeometrica.cpython-312.pyc
  Python/Leccion01/__pycache__/Rectangulo.cpython-312.pyc
  Python/Leccion01/test_figura_geometrica.py
Labels: Python

#38 corrección carpeta python semana 2
  Python/Leccion01/__pycache__/Color.cpython-312.pyc
  Python/Leccion01/__pycache__/Cuadrado.cpython-312.pyc
  Python/Leccion01/__pycache__/FiguraGeometrica.cpython-312.pyc
  Python/Leccion01/__pycache__/Rectangulo.cpython-312.pyc
  Python/Leccion01/test_figura_geometrica.py
Labels: Python

#44 Leccion 2 de JavaScript
  Javascript/Leccion02/02-03-arreglos.js
Labels: Javascript

#45 agregar modificadoresAcceso, modificar AutoboxingUnboxing
  Java/Leccion03/AutoboxingUnboxing/test/TestAutoboxingUnboxing.java
  Java/Leccion03/ModificadoresAcceso/paquete1/Clase1.java
  Java/Leccion03/ModificadoresAcceso/test/TestModificadoresAcceso.java
Labels: java

#46 ejercicios de la leccion 10 (videos del 5 al 8). creacion de carpeta …
  .DS_Store
  Java/.DS_Store
  Javascript/.DS_Store
  Python/.DS_Store
  Python/Leccion10/.DS_Store
  Python/Leccion10/Constantes.py
  Python/Leccion10/test_constantes.py
  Python/Leccion11/disenio_clase.uxf
Labels: Python
