Repository CodeStrong2023/DevGroup_TercerSem_2024, pull requests merged in 2024-06, with the labels that each got.

#145 Bruno olivera
  .DS_Store
  .gitignore
  Java/.DS_Store
  Java/Leccion05/ClasesAbstractas/nbproject/build-impl.xml
  Java/Leccion05/ClasesAbstractas/nbproject/genfiles.properties
  Java/Leccion05/ClasesAbstractas/nbproject/project.properties
  Java/Leccion05/ClasesAbstractas/src/domain/FiguraGeometrica.java
  Java/Leccion05/ClasesAbstractas/src/domain/Rectangulo.java
  Java/Leccion05/ClasesAbstractas/src/test/TestAbstractas.java
  Javascript/.DS_Store
  Javascript/Leccion05/05-03-clases.js
  Javascript/Leccion05/diagrama.uxf
  ProyectoPython/__pycache__/googleapi.cpython-312.pyc
  ProyectoPython/__pycache__/mongodb.cpython-312.pyc
  Python/.DS_Store
  Python/Excepciones/.DS_Store
Labels: Javascript

#150 Agrego ejercicios de la clase 7 de Python (videos 1 y 2)
  .DS_Store
  Javascript/.DS_Store
  Python/.DS_Store
  Python/Leccion03/catalogo_peliculas/dominio/Pelicula.py
Labels: Python

#165 Javascript - Clase 7: Videos 3 y 4 && Actualización Prácticas
  Javascript/Leccion05/05-03-clases.js
  Javascript/Leccion05/index.html
  practicas/avatar/public/assets/Aang.webp
  practicas/avatar/public/avatar.html
  practicas/avatar/public/css/styles.css
  practicas/avatar/public/js/avatar.js
Labels: Javascript

#179 Agrego ejercicios de la clase 8 de Java(videos del 4 al 6)
  Java/.DS_Store
  Java/Leccion08/ManejoExcepciones1/test/TestExepciones.java
  Python/Leccion03/catalogo_peliculas/.vscode/settings.json
Labels: java

#185 Java - Clase 8: Videos 9 - 11
  Java/Leccion08/ManejoExcepciones1/aritmetica/Aritmetica.java
  Java/Leccion08/ManejoExcepciones1/excepciones/OperacionExcepcion.java
  Java/Leccion08/ManejoExcepciones1/test/TestExepciones.java
Labels: java

#187 Javascript - Clase 9: Videos 1 - 4
  Javascript/Leccion07/Cliente.js
  Javascript/Leccion07/Empleado.js
  Javascript/Leccion07/Persona.js
Labels: Javascript

#188 python 1 al 5
  Python/Leccion04/BD/i_registros.py
  Python/Leccion04/BD/prueba_bd.py
  Python/Leccion04/BD/v_registros.py
Labels: Python

#197 Agrego videos 1-5 calculadora
  Java/Leccion09/CalculadoraUtn/.gitignore
  Java/Leccion09/CalculadoraUtn/.idea/.gitignore
  Java/Leccion09/CalculadoraUtn/.idea/misc.xml
  Java/Leccion09/CalculadoraUtn/.idea/modules.xml
  Java/Leccion09/CalculadoraUtn/.idea/vcs.xml
  Java/Leccion09/CalculadoraUtn/CalculadoraUtn.iml
  Java/Leccion09/CalculadoraUtn/src/CalculadoraUtn.java
Labels: java

#198 Update: Agregando archivos a leccion04 Python
  Python/Leccion04/BD/actualizar_registro.py
  Python/Leccion04/BD/actualizar_varios_registros.py
  Python/Leccion04/BD/delete_registro.py
  Python/Leccion04/BD/delete_varios_registros.py
Labels: Python

#200 Terminacion calculadora videos de 6-10 JAVA
  Java/Leccion09/.idea/.gitignore
  Java/Leccion09/.idea/misc.xml
  Java/Leccion09/.idea/modules.xml
  Java/Leccion09/.idea/vcs.xml
  Java/Leccion09/CalculadoraUtn/src/CalculadoraUtn.java
  Java/Leccion09/Leccion09.iml
  Java/Leccion09/out/production/Leccion09/CalculadoraUtn.class
Labels: java

#202 UPDATE videos de clase 9, 1-3
  Python/Leccion04/BD/transacciones.py
Labels: Python

#205 Agrego ejercicios de la clase 10 de JavaScript (videos del 1 al 3)
  Javascript/.DS_Store
  Javascript/Leccion10/SistemaVentas.js
Labels: Javascript

#209 Python - Clase 10 b: Videos 1 al 3
  Python/Leccion07/capa_datos_persona/Persona.py
  Python/Leccion07/capa_datos_persona/conexion.py
Labels: Python

#210 Actualización proyecto Avatar
  practicas/avatar/public/avatar.html
  practicas/avatar/public/js/avatar.js
Labels: Javascript

#211 Python Clase10b - Videos 4-7
  Python/Leccion07/capa_datos_persona/Persona_DAO.py
  Python/Leccion07/capa_datos_persona/conexion.py
Labels: Python

#226 Creamos un login donde trabajamos con css y html solo falta JS
  practicas/final-3/codigo.js
  practicas/final-3/css/style.css
  practicas/final-3/index.html
Labels: Javascript

#225 JAVA SEMANA 12
  Java/Leccion12MsQL/Conexion01.sql
  Java/Leccion12MsQL/SistemaEstudiantes/.gitignore
  Java/Leccion12MsQL/SistemaEstudiantes/.idea/.gitignore
  Java/Leccion12MsQL/SistemaEstudiantes/.idea/encodings.xml
  Java/Leccion12MsQL/SistemaEstudiantes/.idea/misc.xml
  Java/Leccion12MsQL/SistemaEstudiantes/pom.xml
  Java/Leccion12MsQL/SistemaEstudiantes/src/main/java/UTN/Main.java
  Java/Leccion12MsQL/SistemaEstudiantes/src/main/java/UTN/conexion/Conexion.java
Labels: java

#230 terminacion clase 11-a Capa de Datos Python
  Java/Leccion10/Leccion10.iml
  Java/Leccion10/out/production/Leccion10/Leccion10.iml
  Python/Leccion07/.idea/vcs.xml
  Python/Leccion07/capa_datos_persona/Persona_DAO.py
  Python/Leccion07/capa_datos_persona/__pycache__/Persona.cpython-310.pyc
  Python/Leccion07/capa_datos_persona/__pycache__/conexion.cpython-310.pyc
  Python/Leccion07/capa_datos_persona/__pycache__/logger_base.cpython-310.pyc
  Python/Leccion07/capa_datos_persona/capa_datos.log
Labels: Python

#232 Python - Clase 11 b: Videos 1 al 5
  Python/Leccion07/capa_datos_persona/conexion.py
Labels: Python

#237 JavaClase12Parte2 - Videos 10-14
  Java/Leccion12MsQL/SistemaEstudiantes/src/main/java/UTN/datos/EstudianteDAO.java
Labels: java

#238 Creamos un login donde trabajamos con css y html solo falta JS
  practicas/final-3/codigo.js
  practicas/final-3/css/style.css
  practicas/final-3/index.html
Labels: Javascript
