Repository CodeStrong2023/DevGroup_TercerSem_2024, pull requests merged in 2024-05, with the labels that each got.

#57 Terminamos videos JavaScript clase 3 Funciones video 1-5
  Javascript/Leccion03/01-03-funciones.js
Labels: Javascript

#58 "Update: videos 6-10 js clase 3 funciones"
  Javascript/Leccion03/01-03-funciones.js
Labels: Javascript

#59 Clase 3, leccion 08, ejercicios del 1 al 4 de Python
  Python/Leccion11/Orden.py
  Python/Leccion11/Producto.py
Labels: Python

#60 Clase 3 parte 8 Python, agrego contenido de videos 5-9
  Python/Leccion11/Producto.py
  Python/Leccion11/test_ordenes.py
  Python/Leccion12/Persona.py
  Python/Leccion12/Sobrecarga_Operadores.py
Labels: Python

#61 python clase3 parte 9 polimorfismo: videos 1-3
  Python/Lección13/Empleado.py
  Python/Lección13/Gerente.py
  Python/Lección13/__pycache__/Empleado.cpython-312.pyc
  Python/Lección13/__pycache__/Gerente.cpython-312.pyc
  Python/Lección13/polimorfismo.uxf
Labels: Python

#62 Update - Python Clase 3 Polimorfismo - Videos 4-7
  Python/Lección13/Empleado.py
  Python/Lección13/__pycache__/Empleado.cpython-311.pyc
  Python/Lección13/__pycache__/Gerente.cpython-311.pyc
  Python/Lección13/testPolimorfirmo.py
Labels: Python

#64 Ale perez
  Java/Leccion04/Sobreescritura/build.xml
  Java/Leccion04/Sobreescritura/manifest.mf
  Java/Leccion04/Sobreescritura/nbproject/build-impl.xml
  Java/Leccion04/Sobreescritura/nbproject/genfiles.properties
  Java/Leccion04/Sobreescritura/nbproject/private/private.properties
  Java/Leccion04/Sobreescritura/nbproject/private/private.xml
  Java/Leccion04/Sobreescritura/nbproject/project.properties
  Java/Leccion04/Sobreescritura/nbproject/project.xml
  Java/Leccion04/Sobreescritura/src/domain/Empleado.java
  Java/Leccion04/Sobreescritura/src/domain/Gerente.java
  Java/Leccion04/Sobreescritura/src/test/TestSobreescritura.java
Labels: java

#74 Agrego ejercicios de la clase 4 de java, videos del 5 al 10
  .DS_Store
  .gitignore
  Java/.DS_Store
  Java/Leccion03/.DS_Store
  Java/Leccion04/.DS_Store
  Java/Leccion04/InstanceOf/build.xml
  Java/Leccion04/InstanceOf/manifest.mf
  Java/Leccion04/InstanceOf/nbproject/build-impl.xml
  Java/Leccion04/InstanceOf/nbproject/genfiles.properties
  Java/Leccion04/InstanceOf/nbproject/project.properties
  Java/Leccion04/InstanceOf/nbproject/project.xml
  Java/Leccion04/InstanceOf/src/domain/Empleado.java
  Java/Leccion04/InstanceOf/src/domain/Gerente.java
  Java/Leccion04/InstanceOf/src/test/TestInstanceOf.java
  Java/Leccion04/Sobreescritura/nbproject/private/private.properties
  Java/Leccion04/Sobreescritura/nbproject/private/private.xml
  Java/Leccion04/Sobreescritura/src/test/TestSobreescritura.java
  Python/.DS_Store
Labels: java

#84 Python clase 4: videos 3 y 4 & Archivo README.md
  Python/Leccion14/mundo_pc/__init__.py
  Python/Leccion14/mundo_pc/__pycache__/dispositivo_entrada.cpython-312.pyc
  Python/Leccion14/mundo_pc/dispositivo_entrada.py
  Python/Leccion14/mundo_pc/raton.py
  README.md
Labels: Python

#99 agregando ejercicios de JavaScript, semana 4 videos 7 y 8
  .DS_Store
  Java/.DS_Store
  Javascript/.DS_Store
  Javascript/Lección04/01-04-objetos.js
  Javascript/Lección04/index.html
  Python/.DS_Store
Labels: Javascript

#123 Javascript clase 5: Videos 7 y 8
  Javascript/Lección04/01-04-objetos.js
Labels: Javascript

#125 Ale perez
  .gitignore
  Java/Leccion05/ConvercionObjetos/build.xml
  Java/Leccion05/ConvercionObjetos/manifest.mf
  Java/Leccion05/ConvercionObjetos/nbproject/build-impl.xml
  Java/Leccion05/ConvercionObjetos/nbproject/genfiles.properties
  Java/Leccion05/ConvercionObjetos/nbproject/project.properties
  Java/Leccion05/ConvercionObjetos/nbproject/project.xml
  Java/Leccion05/ConvercionObjetos/src/domain/Empleado.java
  Java/Leccion05/ConvercionObjetos/src/domain/Escritor.java
  Java/Leccion05/ConvercionObjetos/src/domain/TipoEscritura.java
  Java/Leccion05/ConvercionObjetos/test/TestConversionObjetos.java
Labels: java

#140 Agregar seleccion al azar: Prácticas 29/05
  practicas/avatar/public/avatar.html
  practicas/avatar/public/js/avatar.js
Labels: Javascript

#143 Python clase 6: videos 4,5 y 6
  Python/Archivos/Leccion02/leer_archivo.py
  Python/Archivos/Leccion02/manejo_archivos.py
  Python/Archivos/Leccion02/prueba.txt
Labels: Python
